<<<<<<< HEAD
/* Hello Kaiser lan 3 */
/* Hello Kaiser lan 2 */
=======
/* Hello Kaiser lan 3*/
>>>>>>> 786f64e6deae3343c8f77f814832fc7aad43d3f7
.container{
    display: flex;
    background-color: black;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.box {
    background-color:red;
    color:white;
    height:100px;
    width:100px;
    text-align:center;
    font-size:50px;
    margin:10px;
    text-align: center;
}

.image{
    height:150px;
    width:150px;
}
